@using ProductCommon;

@{
    ViewBag.Title = "Home Page";
}

<div>
    <br>
    <h2>Welcome to ABC Product Management</h2>
    <br>
    <img src="~/Content/Supermarket.jpg" style="width: 1125px; border-radius:10px"/>
    <br>
    <br>
    <h3>This web module provides the following functionality:</h3>
    <ul>
        <li>View Product Catalogue</li>
        <li>Create new product listing</li>
        <li>Update product listing</li>
        <li>Delete product listing</li>
    </ul>
    <p>Please refer to documentation if help is required.</p>
    <br>
    <h3>Student Information:</h3>
    <p style="width: 80px">Karl Dicks
       17667327
       CLDV6212
       BCAD2</p>
    <br>
</div>
