mat-form-field {
  padding: 1rem;
}

button {
  margin-top: 1.5rem;
  background-color: #215573;
  color: white;
  font-size: large;
  outline: 0;
  box-shadow: none!important;
  min-width: 16rem;
  max-width: 16rem;
  border-radius: 0.5rem;
}

.button-title{
  padding: 5px 50px 5px 50px;
  outline: 0;
  box-shadow: none!important;
}

button:hover {
  color: red;
}
