@page
@model ACME.Data.Models.ContactForm

<h2>Contact Form Submitted</h2>
<hr>
<p>
    Your message has been submitted, and a company representative will review your message shortly.
</p>
<br>
<p>
    Please keep your submission id: @ViewBag.id
</p>